body {
  background-color: black;
}

h2 {
  color: white;
}

#test1 {
  font-family: 'Indie Flower', cursive;
}

#test2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#test3 {
  font-family: 'Dancing Script', cursive;
}
