body {
  background-color: black;
  font-family: 'Indie Flower', cursive;
}

h2 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 35px;
}

@media (min-width: 600px) {
  #main-title {
    padding-top: 350px;
  }
}

@media (max-width: 600px) {
  #main-title {
    padding-top: 100px;
  }
}
